<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HotelBookingView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3635820E1E7C907200B3F70D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>363582221E7C907200B3F70D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3635822D1E7C907200B3F70D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
